name: Lint 
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  cache:
    name: CI cache
    runs-on: ubuntu-latest
    outputs:
      yarn-cache-key: ${{ steps.yarn-cache-key.outputs.key }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Generate yarn cache-key
        id: yarn-cache-key
        run: echo "::set-output name=key::${{ runner.os }}-yarn-ci-cache-v3-${{ hashFiles('./yarn.lock') }}-${{ hashFiles('**/yarn.lock') }}"
      - name: Configure Yarn cache
        uses: actions/cache@v2
        with:
          key: ${{ steps.yarn-cache-key.outputs.key }}
          path: |
            ~/.cache/Cypress
            .yarn
            node_modules
      - name: Install dependencies
        if: ${{ github.actor != 'dependabot[bot]' || github.ref == 'refs/heads/main' }}
        run: yarn --immutable
      - name: Install dependencies & update yarn.lock (dependabot)
        if: ${{ github.actor == 'dependabot[bot]' && github.ref != 'refs/heads/main' }}
        run: "yarn install && git stage yarn.lock && git commit -m 'chore: update yarn.lock' && git push"
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false

  lint:
    name: lint
    runs-on: ubuntu-latest
    needs: cache
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Configure Yarn cache
        uses: actions/cache@v2
        with:
          key: ${{ needs.cache.outputs.yarn-cache-key }}
          path: |
            ~/.cache/Cypress
            .yarn
            node_modules
      - name: Install dependencies
        run: yarn --immutable
      - name: Lint
        run: yarn lint:ci
      - name: Prettify
        run: yarn prettify:ci

  build-and-release:
    name: build and release
    runs-on: ubuntu-latest
    needs: [cache, lint]
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v2
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: "0"
      - name: Setup git user
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - name: Pull git tags (needed for lerna / semantic release to correctly version)
        run: git fetch --prune --unshallow --tags
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Configure Yarn cache
        uses: actions/cache@v2
        with:
          key: ${{ needs.cache.outputs.yarn-cache-key }}
          path: |
            ~/.cache/Cypress
            .yarn
            node_modules
      - name: Install dependencies
        run: yarn --immutable
      - name: Authenticate with Registry
        run: |
          yarn logout
          echo "registry=http://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: release package
        if: ${{ success() && github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        run: yarn release:ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
